//Our
.our{
    width: 100%;
    background-image: url("../image/our\ bgi.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: contain;
    

    &__list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 125px;
        margin-bottom: 200px;
    }

    &__item{
        max-width: 255px;
    }

    &__link{    
        color: black;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;  
    }

    &__text{
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;      
    }
}

@media only screen and (max-width: 800px) {
    .our{
        background-image: url("../image/our\ tablet.png");
        background-size: contain;
        background-position: center 0;
        background-repeat: no-repeat;
        margin-bottom: 200px;
        justify-content: center;

        &__list{
            display: flex;
            flex-direction: column;
            padding-left: 0;
            padding-top: 60px;
        }

        &__item{
            max-width: 573px;
            display: flex;
            margin-bottom: 32px;
        }

        &__item--wrapper{
            text-align: left;
            max-width: 283px;
        }
    }
}